.a1{
	border-style: solid;
	border-width:10px;
	border-color:blue;
	margin:20px;

}
.a2{
	border-style: solid;
	border-width:10px;
	border-color:red;
	margin:20px;

}
.a3{
	border-style: solid;
	border-width:20px;
	border-color:green;
	margin:20px;

}